<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificates</title>
</head>
<body>

<section id="certifications" class="section light">
    <h2>Certificates</h2>

    <a href="{{ url_for('static', filename='files/CCNA-_Introduction_to_Networks_certificate_224276654-edu-vut-ac-za_62dc62a4-d205-46b6-9561-bde97a753e4.pdf') }}">CCNA-_Introduction_to_Networks_certificate</a><br>
    <a href="{{ url_for('static', filename='files/linux.pdf') }}">linux</a><br>
    <a href="{{ url_for('static', filename='files/Student life achievement Awards.pdf') }}">Student life Achievement Award</a><br>
    <a href="{{ url_for('static', filename='files/Thensa.pdf') }}">Thensa</a>
    <a href="{{ url_for('static', filename='files/Certified documents 2026-04-25 17.16.pdf') }}">Certified documents</a>


 <section>
</body>
</html>