<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Amahle Notununu | Final Year Electrical Engineering-Computer Systems Student</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <div class="container">
         <img src="{{ url_for('static', filename='images/profile.jpg') }}" width="180">


        <h1>Amahle Notununu</h1>
        <p>Final Year Electrical Engineering-Computer Systems Student | Tech Enthusiast | Junior Systems Engineer</p>
        <a href="#contact" class="btn">Hire Me</a>
        <a href="#" class="btn secondary">Download CV</a>
    </div>
</header>

<nav>
    <a href="#about">About</a>
    <a href="#skills">Skills</a>
    <a href="#projects">Projects</a>
    <a href="#education">Education</a>
    <a href="#contact">Contact</a>
</nav>

<section id="about" class="section">
    <h2>Professional Profile</h2>
    <p>
        Motivated final year Electrical Engineering-Computer Systems student with practical knowledge in
        programming, networking, troubleshooting, databases, virtualization, and web development.
        Seeking graduate opportunities, internships, or entry-level IT roles where I can apply
        technical skills, solve business problems, and grow within a professional environment.
    </p>
</section>

<section id="skills" class="section light">
    <h2>Technical Skills</h2>
    <div class="grid">
        
        <div class="card">Python Programming</div>
        <div class="card">HTML, CSS, JavaScript</div>
        <div class="card">Flask Web Development</div>
        <div class="card">Docker Containers</div>
        <div class="card">Computer Networking</div>
        <div class="card">Linux Administration</div>
        <div class="card">Windows Support</div>
        <div class="card">Database Systems (SQL, mySQL, MariadB)</div>
        <div class="card">Virtualization (VirtualBox / Proxmox/)</div>
        <div class="card">Hardware & Software Troubleshooting</div>
        <div class="card">Git & GitHub</div>
    </div>
</section>

<section id="projects" class="section">
    <h2>Academic & Personal Projects</h2>

    <div class="project">
        <h3>Expense Tracker Web App</h3>
        <p>Built a Flask-based expense management system for recording and tracking spending.</p>
    </div>

    <div class="project">
        <h3>Dockerized Flask Application</h3>
        <p>Containerized a Python web application using Docker for easier deployment.</p>
    </div>

    <div class="project">
        <h3>Virtual Lab Environment</h3>
        <p>Configured Proxmox and VirtualBox labs for server and networking practice.</p>
    </div>

    <div class="project">
        <h3>Personal Portfolio Website</h3>
        <p>Developed a responsive website to showcase technical skills and projects.</p>
    </div>
</section>

<section id="education" class="section light">
    <h2>Education</h2>
    <p><strong>Diploma in Electrical Engineering-Computer Systems</strong></p>
    <p>Final Year Student</p>

    <p>Expected Graduation: 2026</p>
</section>

<section id="certifications" class="section light">
    <h2>Certificates</h2>

    <a href="{{ url_for('static', filename='files/CCNA-_Introduction_to_Networks_certificate_224276654-edu-vut-ac-za_62dc62a4-d205-46b6-9561-bde97a753e4.pdf') }}">CCNA-_Introduction_to_Networks_certificate</a><br>
    <a href="{{ url_for('static', filename='files/linux.pdf') }}">linux</a><br>
    <a href="{{ url_for('static', filename='files/Student life achievement Awards.pdf') }}">Student life Achievement Award</a><br>
    <a href="{{ url_for('static', filename='files/Thensa.pdf') }}">Thensa</a><br>
    <a href="{{ url_for('static', filename='files/Certified documents 2026-04-25 17.16.pdf') }}">Certified documents</a>



    <h2>Platforms & Tools</h2>

    <div class="grid">
        <div class="card">Docker</div>
        <div class="card">VS Code</div>
        <div class="card">GitHub</div>
        <div class="card">Linux</div>
        <div class="card">Windows Server Basics</div>
        <div class="card">VirtualBox</div>
    </div>
</section>

<section class="section">
    <h2>Why Hire Me</h2>
    <div class="grid">
        <div class="card">Quick Learner</div>
        <div class="card">Strong Problem Solver</div>
        <div class="card">Team Player</div>
        <div class="card">Professional Work Ethic</div>
        <div class="card">Hands-on Technical Experience</div>
        <div class="card">Ready to Grow in Industry</div>
    </div>
</section>

<section id="contact" class="section dark">
    <h2>Contact Me</h2>
    <p>Email: 224276654@edu.vut.ac.za</p>
    <p>Phone: +27 732557650</p>
    <p>LinkedIn: www.linkedin.com/in/amahle-notununu-techenthusiast</p>
    <p>GitHub: github.com/amahle</p>
</section>

<footer>
    <p>© 2026 Amahle Notununu | Final Year Electrical-Engineering-Computer Systems Student</p>
</footer>

</body>
</html>